<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.5.8/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheDirectory=".phpunit.cache"
         colors="true">

  <source>
    <include>
      <directory suffix=".php">src</directory>
    </include>
    <exclude>
      <directory>vendor</directory>
      <directory>src/Masqueradis/tests</directory>
    </exclude>
  </source>

  <testsuites>
    <testsuite name="Unit">
      <directory>src/Masqueradis/tests</directory>
    </testsuite>
  </testsuites>

  <coverage>
    <report>
      <html outputDirectory="src/Masqueradis/tests/coverage" lowUpperBound="35" highLowerBound="70"/>
    </report>
  </coverage>

</phpunit>
